body
{
	background-color:#F5F5F5;

	font-family: Arial;
	font-size: 12px;
	color: #413F36;
}

#wrapper
{
	width: 900px;

	margin:auto;
}

#section
{
	display: block;
	float: left;

	width: 100%;
}

hr.section_end 
{
    width: 100%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #D7D7D7, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #D7D7D7, rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #D7D7D7, rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #D7D7D7, rgba(0,0,0,0)); 

    margin-bottom: 2em;
}

#content_wrap
{
	padding: 15px;
}

#content
{
	float: left;
	border: 1px #D7D7D7 solid;
	background-color:white;

	width: 100%;
	margin-bottom: 1em;
	overflow: auto;
}

#header
{
}

.dev_name
{
	font-size: 40px;
}

.dev_occupation
{
	font-size: 20px;
	color: #B5B5B5;

	margin-bottom: 10px;
}

h1, h1:hover
{
	display: inline;
	font-size: 30px;
	color: #3085BA;
	font-weight: normal;

	margin: 0;
}

h2
{
	font-size: 20px;
	color: #3085BA;
	font-weight: normal;

	margin: 0;
	margin-bottom: 5px;
}

.main_link
{
	text-decoration: none;
	color: #3085BA;
	font-weight: normal;
}

.fancy_link
{
	width: 89px; 
	height: 40px; 
	float: left; 
	background-color: #fff; 
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	box-shadow: inset white 0 1px 0,inset rgba(0, 0, 0, 0.03) 0 -1px 0;
}

.fancy_link:hover
{
	background-color: #F7DF92;
}

.fancy_link a
{
	line-height: 1;
	font-size: 11px;
	color: #999;
	display: block;
	text-align: center;
	padding-top: 6px;
	height: 40px;
	font-weight: 400;
	text-decoration: none;
}

.fancy_link a strong 
{
	font-size: 14px;
	display: block;
	color: #222;
}

.project_name 
{
   	font-size: 30px;
	color: #3085BA;
	font-weight: normal;
	width: 50%;
	float: left;
	height: 50px;
}

.project_name a 
{
	bottom: -14px;
	position: relative;
}

.project_type 
{
	color: #999;
	font-size: 12px;
}

.note 
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;

	padding: 10px 10px 10px 30px;
	margin: 0px 0px 25px 10px;

	overflow: hidden;

	background-color: #FFD;
	border-color: #F7DF92;

	float: left;
	background-image: url(warning.png);
	background-repeat: no-repeat;
	background-position: 5px;
}

.code 
{
	color: #333;
	cursor: pointer;
	float: left;
}

.code h3
{
	text-align: left;
	color: grey;
	font: 11px Consolas;
	padding-left: 30px;
}

body code
{
}

li 
{
	background: url(list_item.png) left center no-repeat;
	display: block;
	padding-left: 20px;

	margin-bottom: 1px;
}



a:link, a:visited
{
	color: #3085BA;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #999;
}